# httpの設定
<VirtualHost *:80>
    DocumentRoot /var/www/projectA/public
    ServerName project-a.local

    ErrorLog /var/log/httpd/project-a.local_error.log
    CustomLog /var/log/httpd/project-a.local_requests.log common

    LogLevel rewrite:trace8

    <FilesMatch \.php$>
        SetHandler "proxy:fcgi://php7.1-fpm:9000"
    </FilesMatch>

    <Directory "/var/www/projectA">
        AllowOverride All
        Options +FollowSymLinks -Indexes
        DirectoryIndex index.php
    </Directory>
    DirectoryIndex index.php index.html
</VirtualHost>
# httpsの設定
<VirtualHost *:443>
    DocumentRoot /var/www/projectA/public
    ServerName project-a.local

    ErrorLog /var/log/httpd/project-a.local_error.log
    CustomLog /var/log/httpd/project-a.local_requests.log common

    LogLevel rewrite:trace8

    SSLEngine on
    SSLCertificateFile /etc/ssl/private/server.crt
    SSLCertificateKeyFile /etc/ssl/private/server.key

    <FilesMatch \.php$>
        SetHandler "proxy:fcgi://php7.1-fpm:9000"
    </FilesMatch>

    <Directory "/var/www/projectA">
        AllowOverride All
        Options +FollowSymLinks -Indexes
        DirectoryIndex index.php
    </Directory>
    DirectoryIndex index.php index.html
</VirtualHost>
