[mysqld]
character-set-server=utf8mb4
#default-time-zone = 'Asia/Tokyo'

# slow query
slow_query_log=1
long_query_time=1
slow_query_log_file=/var/log/mysql/slow_query.log

# インデックスサイズに767byteまでしかつかえない問題
innodb_large_prefix=ON
innodb_file_per_table=ON
innodb_file_format=Barracuda

# MySQL Tuner を使用しました。
# https://github.com/rackerhacker/MySQLTuner-perl
# クエリキャッシュ最大サイズ
query_cache_limit=16M
# クエリキャッシュで使用するメモリサイズ
query_cache_size=512M
# クエリキャッシュのタイプ(0:off, 1:ON SELECT SQL_NO_CACHE以外, 2:DEMAND SELECT SQL_CACHEのみ)
query_cache_type=1
# InnoDB のデータ領域をテーブル単位
innodb_file_per_table=ON
# InnoDBのデータとインデックスをキャッシュするバッファのサイズ(推奨は物理メモリの8割)
innodb_buffer_pool_size=2G
# InnoDBの更新ログを記録するディスク上のファイルサイズ(innodb_buffer_pool_sizeの4分の1程度)
innodb_log_file_size=1G

[client]
default-character-set=utf8mb4